<section>
    <app-addedit-commands></app-addedit-commands>
</section>

<section class="big">
    <article>
        <!-- <header>Lista de comandos</header> -->
        <nav>
            <label>Filtro por canales</label>
            <button class="active">Todos</button>
            <button>PRIVMSG</button>
            <button>#caballeros</button>
            <button>#harkolandia</button>
            <button>#caballeros</button>
        </nav>
        <nav>
            <label>Filtro por usuario</label>
            <button class="active">Todos</button>
            <button>Mendax</button>
            <button>Harkito</button>
        </nav>
        <div class="tableContainer">
            <p-table #dt [resizableColumns]="true" [value]="comandos" [loading]="isLoading" selectionMode="single" [(selection)]="selectedCommand" [filterDelay]="0" [globalFilterFields]="['fromuser','targetchannel','command']" dataKey="id_command">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        Lista de comandos
                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:12%">
                        <col style="width:12%">
                        <col style="width:20%">
                        <col style="width:50%">
                        <col style="width:10%">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn pSortableColumn="targetchannel">Channel <p-sortIcon field="targetchannel"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="fromuser">User <p-sortIcon field="fromuser"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="command">Command <p-sortIcon field="command"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="response">Response <p-sortIcon field="response"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-comando>
                    <!-- [pSelectableRow]="comando" -->
                    <tr >
                        <td>{{comando.targetchannel}}</td>
                        <td>{{comando.fromuser}}</td>
                        <td>{{comando.command}}</td>
                        <td>{{comando.response}}</td>
                        <td>
                            <button class="actionButton" (click)="editCommand(comando)">
                                <svg style="width: 15px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-edit fa-w-18"><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" class=""></path></svg>
                            </button>
                            <button class="actionButton" (click)="deleteCommand(comando)">
                                <svg style="color: red;width: 15px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-trash fa-w-14"><path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z" class=""></path></svg>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
    </article>
</section>

<p-confirmDialog #cd header="Confirmar" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog modal="modal" [(visible)]="editVisible">
    <app-addedit-commands [editMode]="true" (saved)="editVisible = false"></app-addedit-commands>
</p-dialog>