<section class="big">
  <article>
      <header>Historial de quotes</header>
      <div class="tableContainer">
        <p-table #dt [resizableColumns]="true" [value]="quotes" [paginator]="true" [rows]="18" [loading]="cargando" [filterDelay]="0" [globalFilterFields]="['channel','username','varname']" dataKey="id_quote">
          <ng-template pTemplate="caption">
              <div class="table-header">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.message, 'contains')" placeholder="Buscar" />
                </span>
              </div>
          </ng-template>
          <ng-template pTemplate="colgroup">
              <colgroup>
                  <col style="width:18%">
                  <col style="width:16%">
                  <col style="width:50%">
                  <col style="width:12%">
                  <col style="width:4%">
              </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th pResizableColumn pSortableColumn="channel">Channel <p-sortIcon field="channel"></p-sortIcon></th>
                  <th pResizableColumn pSortableColumn="username">Autor <p-sortIcon field="username"></p-sortIcon></th>
                  <th pResizableColumn pSortableColumn="varname">Quote <p-sortIcon field="varname"></p-sortIcon></th>
                  <th pResizableColumn pSortableColumn="rawvalue">Fecha <p-sortIcon field="rawvalue"></p-sortIcon></th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-variable>
              <tr >
                <td>{{variable.channel}}</td>
                <td>{{variable.author}}</td>
                <td>{{variable.quote}}</td>
                <td>{{variable.quoteado | date: 'dd-MM-yyyy'}}</td>
                <td>
                  <button pButton type="button" label="" icon="pi pi-trash" class="p-button-danger" (click)="delete(variable.id_quote)"></button>
                </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
  </article>
</section>
