<article>
  <header>
    Configuraciones
  </header>
  <div>
    <label>Nick ({{nick}})</label>
    <input type="text" [(ngModel)]="newNick"/>
    <button (click)="changeNick()">Actualizar</button>
  </div>
  <div>
    <label>Unirse a canal</label>
    <input type="text" [(ngModel)]="channel"/>
    <button (click)="joinChannel()">Unirse</button>
  </div>
  <div>
    <label>Enviar comando de irc</label>
    <input type="text" [(ngModel)]="command"/>
    <button (click)="sendCommand()">Enviar</button>
  </div>
  <div>
    <label>Owners</label>
    <input type="text" [(ngModel)]="owners"/>
    <button (click)="updateOwners()">Actualizar</button>
  </div>
</article>

<article>
  <header>
    Canales
  </header>
  <ul>
    <li *ngFor="let chnl of channels" (click)="leave(chnl.key)">
      <span class="name">{{chnl.key}}</span>
      {{chnl.topic}}
      <span class="modes">{{chnl.mode}}</span>
    </li>
  </ul>
</article>
