<article>
    <header>Agregar variable</header>
    <div>
      <label>De canal:</label>
      <input type="text" placeholder="#canal"/>
      <legend>
        Puedes poner <b>PRIVMSG</b> para que solo funcione en privados (sin numeral)
      </legend>
    </div>
    <div>
      <label>Del usuario:</label>
      <input type="text" placeholder="usuario"/>
      <legend>
        Puedes poner <b>ALL</b> para todos los usuarios.
      </legend>
    </div>
    <div>
        <label>Nombre de variable: (sin espacios)</label>
        <input type="text" placeholder="nombre"/>
      </div>
    <div>
      <label>Valor</label>
      <input type="text" placeholder="15"/>
    </div>
    <button>Agregar</button>
</article>